body {
    background-image: url(../Images/background.jpg);
}

.educationBody {
    position: absolute;
    background-color: white;
    top: 240px;
    left: 25%;
    margin-top: 10px;
    width: 75%;
    height: 1200px;
}

.educationBodyDecor {
    position: absolute;
    border: 2px solid black;
    height: 97%;
    width: 97%;
    top: 17px;
    left: 17px;
}

.eduTitle {
    position: absolute;
    left: 40px;
    top: 15px;
}

.highschoolText {
    position: absolute;
    top: 55px;
    left: 60px;
    font-size: 20px;
    width: 55%;
    height: 100px;
}

.caribooPicture {
    position: absolute;
    left: 700px;
    top: 70px;
    text-align: center;
    border: 2px solid black;
    padding: 3px;
}
