
/* start of header formatting */
.profileHeader {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 1530px;
    height: 200px;
    padding-top: 10px;
    background-color: white;
    border-bottom: 3px solid black;

}

.profileHeader h1 {
    position: absolute;
    border-bottom: 2px solid black;
    left: 200px;
}

.profilePic {
    border: 3px solid black;
    position: absolute;
    left: 50px;
    top: 25px;
}

.profileHeader p {
    position: absolute;
    left: 200px;
    top: 70px;
    font-size: 16px;
}

.indeedLink {
    position: absolute;
    top: 25px;
    left: 1000px;
}

.indeed {
    position: absolute;
    top: 25px;
    left: 980px;
}

.githubLink {
    position: absolute;
    top: 45px;
    left: 1000px;
}

.github {
    position: absolute;
    top: 45px;
    left: 980px;
}

.discord {
    position: absolute;
    top: 65px;
    left: 980px;
}

.discordLink {
    position: absolute;
    top: 65px;
    left: 1000px;
}

.decorHeader {
    width: 1498px;
    margin-left: 10px;
    height: 185px;
    border: 3px solid black;
}

/* end of the header formatting*/

/* the navigation bar */

.navigationBar {
    position: absolute;
    background-color: rgb(167, 167, 167);
    top: 213px;
    left: 0px;
    height: 25px;
    width: 100%;
    border-bottom: 2px solid white;
}

.homeTab {
    position: absolute;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
    width: 33.3333%;
    height: 25px;
}

.educationTab {
    position: absolute;
    margin-left: 33.3333%;
    text-align: center;
    width: 33.3333%;
    height: 25px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.hobbiesTab {
    position: absolute;
    margin-left: 66.6666%;
    text-align: center;
    width: 33.3333%;
    height: 25px;
    border-bottom: 2px solid white;
}

/* end of navigation bar */